<a href="https://colab.research.google.com/github/arvndms/ICT-DSA_ACTIVITY/blob/main/Assignment_on_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

In [479]:
import pandas as pd
import numpy as np

Dataset Overview

In [480]:
df = pd.read_csv('/content/House_Pricing.csv')

In [481]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21613 non-null  int64
 1   Date House was Sold                        21613 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21613 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21604 non-null  float64
 6   Lot Area (in Sqft)                         21604 non-null  float64
 7   No of Floors                               21613 non-null  float64
 8   Waterfront View                            21613 non-null  object
 9   No of Times Visited                        2124 non-null   object
 10  Condition of the House                     21613 non-null  object
 11  Overall Grade                              21613 non-null  int64
 12  Area of the House from Basement (in Sqft)  21610 non-null  float64
 13  Basement Area (in Sqft)                    21613 non-null  int64
 14  Age of House (in Years)                    21613 non-null  int64
 15  Renovated Year                             21613 non-null  int64
 16  Zipcode                                    21612 non-null  float64
 17  Latitude                                   21612 non-null  float64
 18  Longitude                                  21612 non-null  float64
 19  Living Area after Renovation (in Sqft)     21612 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21613 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [482]:
df.describe()

,ID,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
count,2.161300e+04,2.160900e+04,21613.000000,21609.000000,21604.000000,2.160400e+04,21613.000000,21613.000000,21610.000000,21613.000000,21613.000000,21613.000000,21612.000000,21612.000000,21612.000000,21612.000000,21613.000000
mean,4.580302e+09,5.401984e+05,3.370842,2.114732,2079.931772,1.510776e+04,1.494309,7.623467,1788.344193,291.509045,46.994864,84.402258,98077.937766,47.560048,-122.213892,1986.538914,12768.455652
std,2.876566e+09,3.673890e+05,0.930062,0.770138,918.487597,4.142827e+04,0.539989,1.105439,827.982604,442.575043,29.373411,401.679240,53.505425,0.138565,0.140830,685.404255,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,1.000000,290.000000,0.000000,3.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1429.250000,5.040000e+03,1.000000,7.000000,1190.000000,0.000000,21.000000,0.000000,98033.000000,47.470975,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.617500e+03,1.500000,7.000000,1560.000000,0.000000,43.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068825e+04,2.000000,8.000000,2210.000000,560.000000,67.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,10.000000,9410.000000,4820.000000,118.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

Duplicate Removal

In [483]:
df.duplicated().sum()

np.int64(0)

In [484]:
df.columns.duplicated().sum()

np.int64(0)

Handling Missing Values

In [485]:
df.isna().sum()

ID                                               0
Date House was Sold                              0
Sale Price                                       4
No of Bedrooms                                   0
No of Bathrooms                                  4
Flat Area (in Sqft)                              9
Lot Area (in Sqft)                               9
No of Floors                                     0
Waterfront View                                  0
No of Times Visited                          19489
Condition of the House                           0
Overall Grade                                    0
Area of the House from Basement (in Sqft)        3
Basement Area (in Sqft)                          0
Age of House (in Years)                          0
Renovated Year                                   0
Zipcode                                          1
Latitude                                         1
Longitude                                        1
Living Area after Renovation (in Sqft)           1
Lot Area after Renovation (in Sqft)              0
dtype: int64

- Filling with median for numerical columns like Sale price,Area of the House from Basement (in Sqft),Latitude,Longitude,Living Area after Renovation (in Sqft),No of Bathrooms	,Flat Area (in Sqft)	,Lot Area (in Sqft)
- Dropped the row with null value from Zipcode

In [486]:
df.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
0,7129300520,14 October 2017,221900.0,3,1.00,1180.0,5650.0,1.0,No,NaN,...,7,1180.0,0,63,0,98178.0,47.5112,-122.257,1340.0,5650
1,6414100192,14 December 2017,538000.0,3,2.25,2570.0,7242.0,2.0,No,NaN,...,7,2170.0,400,67,1991,98125.0,47.7210,-122.319,1690.0,7639
2,5631500400,15 February 2016,180000.0,2,1.00,770.0,10000.0,1.0,No,NaN,...,6,770.0,0,85,0,98028.0,47.7379,-122.233,2720.0,8062
3,2487200875,14 December 2017,604000.0,4,3.00,1960.0,5000.0,1.0,No,NaN,...,7,1050.0,910,53,0,98136.0,47.5208,-122.393,1360.0,5000
4,1954400510,15 February 2016,510000.0,3,2.00,1680.0,8080.0,1.0,No,NaN,...,8,1680.0,0,31,0,98074.0,47.6168,-122.045,1800.0,7503

In [487]:
df['No of Bedrooms'].value_counts()

No of Bedrooms
3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: count, dtype: int64

In [488]:
df.tail()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,Waterfront View,No of Times Visited,...,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft)
21608,263000018,14 May 2017,360000.0,3,2.50,1530.0,1131.0,3.0,No,NaN,...,8,1530.0,0,9,0,98103.0,47.6993,-122.346,1530.0,1509
21609,6600060120,15 February 2016,400000.0,4,2.50,2310.0,5813.0,2.0,No,NaN,...,8,2310.0,0,4,0,98146.0,47.5107,-122.362,1830.0,7200
21610,1523300141,14 June 2017,402101.0,2,0.75,1020.0,1350.0,2.0,No,NaN,...,7,1020.0,0,9,0,98144.0,47.5944,-122.299,1020.0,2007
21611,291310100,15 January 2016,400000.0,3,2.50,1600.0,2388.0,2.0,No,NaN,...,8,1600.0,0,14,0,98027.0,47.5345,-122.069,1410.0,1287
21612,1523300157,14 October 2017,325000.0,2,0.75,1020.0,1076.0,2.0,No,NaN,...,7,1020.0,0,10,0,98144.0,47.5941,-122.299,1020.0,1357

In [489]:
df['Sale Price'].fillna(df['Sale Price'].median(), inplace=True)

/tmp/ipython-input-1738438352.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sale Price'].fillna(df['Sale Price'].median(), inplace=True)

In [490]:
df['No of Bathrooms'].fillna(df['No of Bathrooms'].median(), inplace=True)

/tmp/ipython-input-583332383.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['No of Bathrooms'].fillna(df['No of Bathrooms'].median(), inplace=True)

In [491]:
df['Flat Area (in Sqft)'].fillna(df['Flat Area (in Sqft)'].median(), inplace=True)

/tmp/ipython-input-1061344760.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Flat Area (in Sqft)'].fillna(df['Flat Area (in Sqft)'].median(), inplace=True)

In [492]:
df['Lot Area (in Sqft)'].fillna(df['Lot Area (in Sqft)'].median(), inplace=True)

/tmp/ipython-input-3318287694.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Lot Area (in Sqft)'].fillna(df['Lot Area (in Sqft)'].median(), inplace=True)

In [493]:
df['Area of the House from Basement (in Sqft)'].fillna(df['Area of the House from Basement (in Sqft)'].median(), inplace=True)

/tmp/ipython-input-1197206503.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Area of the House from Basement (in Sqft)'].fillna(df['Area of the House from Basement (in Sqft)'].median(), inplace=True)

In [494]:
df = df.dropna(subset =['Zipcode'])

In [495]:
df['Latitude'].fillna(df['Latitude'].median(), inplace=True)

/tmp/ipython-input-4107322741.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Latitude'].fillna(df['Latitude'].median(), inplace=True)

In [496]:
df['Longitude'].fillna(df['Longitude'].median(), inplace=True)

/tmp/ipython-input-981120830.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Longitude'].fillna(df['Longitude'].median(), inplace=True)

In [497]:
df['Living Area after Renovation (in Sqft)'].fillna(df['Living Area after Renovation (in Sqft)'].median(), inplace=True)

/tmp/ipython-input-166673337.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Living Area after Renovation (in Sqft)'].fillna(df['Living Area after Renovation (in Sqft)'].median(), inplace=True)

In [498]:
 df['No of Times Visited'].fillna(df['No of Times Visited'].mode()[0], inplace=True)

/tmp/ipython-input-110201752.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['No of Times Visited'].fillna(df['No of Times Visited'].mode()[0], inplace=True)

In [499]:
df.isna().sum()

ID                                           0
Date House was Sold                          0
Sale Price                                   0
No of Bedrooms                               0
No of Bathrooms                              0
Flat Area (in Sqft)                          0
Lot Area (in Sqft)                           0
No of Floors                                 0
Waterfront View                              0
No of Times Visited                          0
Condition of the House                       0
Overall Grade                                0
Area of the House from Basement (in Sqft)    0
Basement Area (in Sqft)                      0
Age of House (in Years)                      0
Renovated Year                               0
Zipcode                                      0
Latitude                                     0
Longitude                                    0
Living Area after Renovation (in Sqft)       0
Lot Area after Renovation (in Sqft)          0
dtype: int64

Scaling Numerical Variables

In [500]:
#getting all the numerical columns
num_cols = df.select_dtypes(include=['int64','float64']).columns.to_list()

In [501]:
#removing target from num_cols
num_cols.remove('Sale Price')

In [502]:
print('Numerical Features:',num_cols)

Numerical Features: ['ID', 'No of Bedrooms', 'No of Bathrooms', 'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors', 'Overall Grade', 'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)', 'Age of House (in Years)', 'Renovated Year', 'Zipcode', 'Latitude', 'Longitude', 'Living Area after Renovation (in Sqft)', 'Lot Area after Renovation (in Sqft)']

In [503]:
#Scale these features using techniques like Min-Max scaling or Standard scaling
from sklearn.preprocessing import MinMaxScaler

In [504]:
scaler = MinMaxScaler()

In [505]:
df[num_cols] = scaler.fit_transform(df[num_cols])

Encoding Categorical Variables

Ordinal Encoding

In [506]:
df['Condition of the House'].value_counts()

Condition of the House
Fair         14030
Good          5679
Excellent     1701
Okay           172
Bad             30
Name: count, dtype: int64

In [507]:
house_condition = {
    'Fair': 3,
    'Good': 4,
    'Excellent': 5,
    'Okay' : 2,
    'Bad': 1
}

In [508]:
df['Condition of the House'] = df['Condition of the House'].map(house_condition)

In [509]:
df['No of Times Visited'].nunique()

4

In [510]:
times_visited = {
    0	: 0 ,
'Twice':	2,
'Thrice':	3,
'Once':	1,
'Four': 4
}

In [511]:
df['No of Times Visited'] = df['No of Times Visited'].map(times_visited)

Nominal encoding

In [512]:
df = pd.get_dummies(df,columns=['Waterfront View'],dtype=int)

In [513]:
df.head()

,ID,Date House was Sold,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Condition of the House,...,Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Waterfront View_No,Waterfront View_Yes
0,0.720103,14 October 2017,221900.0,0.090909,0.12500,0.067170,0.003108,0.0,2,3,...,0.000000,0.521739,0.000000,0.893939,0.571498,0.217608,0.161934,0.005742,1,0
1,0.647853,14 December 2017,538000.0,0.090909,0.28125,0.172075,0.004072,0.4,2,3,...,0.082988,0.556522,0.988089,0.626263,0.908959,0.166113,0.222165,0.008027,1,0
2,0.568795,15 February 2016,180000.0,0.060606,0.12500,0.036226,0.005743,0.0,2,3,...,0.000000,0.713043,0.000000,0.136364,0.936143,0.237542,0.399415,0.008513,1,0
3,0.251157,14 December 2017,604000.0,0.121212,0.37500,0.126038,0.002714,0.0,2,5,...,0.188797,0.434783,0.000000,0.681818,0.586939,0.104651,0.165376,0.004996,1,0
4,0.197333,15 February 2016,510000.0,0.090909,0.25000,0.104906,0.004579,0.0,2,3,...,0.000000,0.243478,0.000000,0.368687,0.741354,0.393688,0.241094,0.007871,1,0

Outlier Removal

In [514]:
cols_to_check = ['Sale Price', 'No of Bedrooms', 'No of Bathrooms', 'Flat Area (in Sqft)',
                 'Lot Area (in Sqft)', 'Basement Area (in Sqft)', 'Age of House (in Years)']

In [515]:
df.shape

(21612, 22)

In [516]:
for cols in cols_to_check:
  Q1 = df[cols].quantile(0.25)
  Q3 = df[cols].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5* IQR
  upper_bound = Q3 + 1.5 * IQR
  df = df[(df[cols] >= lower_bound) & (df[cols] <= upper_bound)]

In [517]:
df.shape

(17252, 22)

Train-Test Split

In [518]:
from sklearn.model_selection import train_test_split

In [519]:
# droping 'ID' and 'Date House was Sold' since they are not meaningful features
df = df.drop(['ID','Date House was Sold'],axis=1)

In [520]:
df.head()

,Sale Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Condition of the House,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Renovated Year,Zipcode,Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Waterfront View_No,Waterfront View_Yes
0,221900.0,0.090909,0.12500,0.067170,0.003108,0.0,2,3,0.666667,0.097588,0.000000,0.521739,0.000000,0.893939,0.571498,0.217608,0.161934,0.005742,1,0
1,538000.0,0.090909,0.28125,0.172075,0.004072,0.4,2,3,0.666667,0.206140,0.082988,0.556522,0.988089,0.626263,0.908959,0.166113,0.222165,0.008027,1,0
2,180000.0,0.060606,0.12500,0.036226,0.005743,0.0,2,3,0.555556,0.052632,0.000000,0.713043,0.000000,0.136364,0.936143,0.237542,0.399415,0.008513,1,0
3,604000.0,0.121212,0.37500,0.126038,0.002714,0.0,2,5,0.666667,0.083333,0.188797,0.434783,0.000000,0.681818,0.586939,0.104651,0.165376,0.004996,1,0
4,510000.0,0.090909,0.25000,0.104906,0.004579,0.0,2,3,0.777778,0.152412,0.000000,0.243478,0.000000,0.368687,0.741354,0.393688,0.241094,0.007871,1,0

In [521]:
X = df.drop('Sale Price',axis=1)
y = df['Sale Price']

In [522]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 , random_state = 42)

In [523]:
X_train.shape

(13801, 19)

In [524]:
X_test.shape

(3451, 19)